@page "/login"
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager


<AuthorizeView>
    <Authorized>
        <h3>Bem-vindo, @context.User.Identity?.Name!</h3>
        <button class="btn btn-danger" @onclick="LogoutUser">Sair</button>
    </Authorized>
    <NotAuthorized>
        <button class="btn btn-primary" @onclick="LoginUser">Entrar</button>
    </NotAuthorized>
</AuthorizeView>

@code {
    private void LoginUser()
    {
        Navigation.NavigateTo("authentication/login");
    }

    private async Task LogoutUser()
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }
}
